@import './variables.scss';

.container {
    max-width: 1200px;
    margin: 50px auto;
}

.table {
    width: 100%;

    th {
        text-align: left;
        padding: 0 10px;
    }

    tbody:nth-child(2n) {
        background-color: $lightGrey;
    }
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.button {
    cursor: pointer;
    background-color: $middleGrey;
    border: none;
    outline: none;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 15px;
}

.active {
    &.react {
        background-color: $react;
    }
    &.html {
        background-color: $html;
    }
    &.python {
        background-color: $python;
    }
}

