/* https://material-ui.com/style/color/ */

$lightGrey: #eeeeee;
$middleGrey: #bdbdbd;

// language colors
$angular: #e53935;
$csharp: #7e57c2;
$dart: #2196f3;
$go: #8d6e63;
$html: #ef6c00;
$java: #b71c1c;
$javascript: #fdd835;
$python: #fff176;
$react: #84ffff;
$ruby: #f44336;
$sass: #ad1457;
$vue: #4caf50;